<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Forms</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Form</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <div class="d-flex m-t-10 justify-content-end">
                    <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                        <div class="chart-text m-r-10">
                            <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                            <h4 class="m-t-0 text-info">$58,356</h4>
                        </div>
                        <div class="spark-chart">
                            <div id="monthchart"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                        <div class="chart-text m-r-10">
                            <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                            <h4 class="m-t-0 text-primary">$48,356</h4>
                        </div>
                        <div class="spark-chart">
                            <div id="lastmonthchart"><canvas width="60" height="35" style="display: inline-block; width: 60px; height: 35px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i
                                class="ti-settings text-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="editable-datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row" style="padding:20px">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <div id="editable-datatable_filter" class="dataTables_filter">
                                            <label>Search:<input type="month" class="form-control input-sm"
                                                    aria-controls="editable-datatable">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Title</th>
                                            <th class="border-top-0 text-center">Date</th>
                                            <th class="border-top-0 text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        {{#each viewData.rhapsodies as |rhapsody|}}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{rhapsody.title}}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{rhapsody.date}}</td>
                                            <td>
                                                <a href="/admin/edit-rhapsody-realities/{{rhapsody.id}}"> <i class="fas fa-pencil-alt m-r-10"></i></a>
                                                <a href="/admin/edit-rhapsody-realities/{{rhapsody.id}}"> <i class="far fa-eye m-r-10"></i></a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                            </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination start -->
            {{#if viewData.pagination.show }}
            <div class="col-xs-12">
                <div class="row text-center justify-content-center">
                    <nav aria-label="...">
                        <ul class="pagination">

                            <li class="page-item">
                                <a href="/admin/list-rhapsody-realities?page={{ viewData.pagination.first }}" class="page-link"
                                    aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                    First
                                </a>
                            </li>
                            {{#if viewData.pagination.prev }}
                            <li class="page-item" {{#unless viewData.pagination.prev }} class="disabled" {{/unless}}>
                                <a href="/admin/list-rhapsody-realities?page={{ viewData.pagination.prev }}" class="page-link"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                    Prev
                                </a>
                            </li>
                            {{/if}}
                            {{#if viewData.pagination.next }}
                            <li class="page-item">
                                <a href="/admin/list-rhapsody-realities?page={{ viewData.pagination.next }}" class="page-link"
                                    aria-label="Next">Next
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            {{/if}}
                            <li class="page-item" {{#unless viewData.pagination.next }} class="disabled" {{/unless}}>
                                <a href="/admin/list-rhapsody-realities?page={{ viewData.pagination.last }}" class="page-link"
                                    aria-label="Last">Last
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    