<header class="masthead" style="background-image: url(images/rhapsody-background2.jpg); padding-bottom:500px;">

</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center" style="background:#0e0204; color:white">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <br>
                <b>
                    <p>{{ day }}|{{date}}
                </b>
                <br>
                <b>
                    <h6>{{ rhapsody.title }}</h6>
                </b>
                <b>
                    <i style="text-align:justify; font-size:1.5rem; ">
                        {{ rhapsody.opening_verse }}
                    </i>
                </b>
                <br>
                <br>
                <p style="text-align:justify; font-size:1.6rem;">
                    {{ rhapsody.body }}
                </p>
                <h6>PRAYER</h6>
                <P style="text-align:center; font-size:1.6rem;">
                    {{ rhapsody.confession }}
                </P>
                <b style="text-align:center; font-size:1.6rem;">FURTHER STUDY</b>
                <P style="text-align:center; font-size:1.6rem;">
                    {{ rhapsody.further_scripture}}
                </P>
                <b style="text-align:center; font-size:1.6rem;">ONE YEAR READING PLAN</b>
                <p style="text-align:center; font-size:1.6rem;">
                    {{ rhapsody.one_year_bible_plan }}
                </p>
            </div>
            <div class="col-lg-2 text-center ">

            </div>
        </div>
    </div>
</div>